button{
    display: block;
   background-image: linear-gradient(90deg, rgb(32, 32, 161), rgb(77, 77, 187)) ;
   height: 55px;
   width: 500px;;
   color:aliceblue; 
   border-radius: 50px;
   font-size: larger;
   margin-left: auto;
   margin-right: auto;
   margin-top: 50px;
   

  
}