.campos{
    background-color: rgb(219, 145, 76);
    width: 400px;
    margin-left: 630px;
    border-radius: 15px;
    
    
    
}
.campos2{
    
  background-color:rgb(65, 65, 131);;
  margin-left: 630px;
  width: 400px;
  height: 300px;
  border-radius: 15px;
}
input{
    height: 15px;
    margin-left: 10px; 
}
.tudo{
    
    margin-top: 76px;
    font-size: larger;
    text-align: left;
}
