.campos{
    background-color: rgb(219, 145, 76);
    width: 70%;
    margin-left: 130%;
    border-radius: 15px;
    
    
    
}
.campos2{
    
  background-color:rgb(65, 65, 131);;
  margin-left: 120%;
  width: 90%;
  height: 90%;
  border-radius: 15px;
}
input{
    height: 10%;
    margin-left: 10%; 
}
.tudo{
    
    margin-top: 20%;
    font-size: larger;
    text-align: left;
}
